{%
  set classes = [
    'node',
    'node-detail',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
  
%}

<div class="gsc-image-content  skin-v2 darkgreen">
    <div class="info_area_light darkgreen">
      &nbsp;
    </div>
    <div class="image">
      {{ content.field_tools_image }}
    </div>
    <div class="box-content">
      <h4 class="title">
        <a href="{{ url }}">{{ label }}</a>
      </h4>
      <div class="read-more"><a class="btn-inline darkgreen" href="{{ url }}">Read more</a></div>
    </div>
</div>