# Ignore configuration files that may contain sensitive information.
www/sites/*/*settings*.php
www/sites/example.sites.php

# Ignore paths that contain generated content.
www/files/
www/sites/*/files
www/sites/*/private
www/sites/*/translations

backup_migrate/

# Ignore default text files
www/robots.txt
/CHANGELOG.txt
/COPYRIGHT.txt
/INSTALL*.txt
/LICENSE.txt
/MAINTAINERS.txt
/UPGRADE.txt
/README.txt
www/sites/README.txt
www/sites/all/libraries/README.txt
www/sites/all/modules/README.txt
www/sites/all/themes/README.txt

# Ignore everything but the "sites" folder ( for non core developer )
.htaccess
web.config
authorize.php
cron.php
index.php
install.php
update.php
xmlrpc.php
/includes
/misc
/modules
/profiles
/scripts
/themes
